<%= link_to "Add information", edit_employer_registration_path(current_employer) %>
<ul style="list-style-type: none;">
<li>Company name: <%= @employer.company_name %></li>
<li>About the company:<%= @employer.employer_bio %> </li>
<li>Website link: <%= @employer.employer_website %> </li>
<li>Title: <%= @employer.employer_title %></li>
<li>Contact info: <%= @employer.contact_info %> </li>
</ul>



<h3>My positions</h3>

<%= link_to "Open a new Job", new_position_path %>

<% @employer.positions.each do |position| %>
  <ul>
    <li style="border: grey solid 1px; padding: 20px;" >
    <%= link_to position.title, show_position_path(position.id) %>
    <p>Position Status: <%= position.active_status %></p>
    <p> <%= link_to "Delete", delete_position_path(position), data: { confirm: "Are you sure?" }, method: :delete %> </p>
    </li>
  </ul>

<% end %>
