<p>hi from positions/new.html.erb</p>


<%= simple_form_for(@position, url: new_position_path, html: { method: :post }) do |f| %>
<%= f.error_notification %>


  <%= f.input :title, required: true, autofocus: true %>
  <%= f.input :occupation_type, required: true, collection: ["Full-time", "Part-time", "Remote", "Internship", "Temporary"], prompt: "Select Occupation Type" %>
  <%= f.input :location, label: "City", required: true %>
  <%= f.label "Salary Range (RMB)", :style => "color: darkblue;" %>
  <%= f.input :min_salary, label: "Starting from", as: :integer %>
  <%= f.input :max_salary, label: "Up to", as: :integer %>
  <%= f.input :responsibilities, as: :text, required: true %>
  <%= f.input :requirements, as: :text, required: true %>


  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>

<% end %>
