<%= render 'shared/navbar-dashboard' %>

<div class="dashboard-main-container d-flex flex-column">

  <%#= render 'shared/sidebar' %>

<!--   <div class="container">
    <div class="uploader">
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-blue">
            <span>Upload Resume</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('upload-button-blue.svg', class: "img-sm") %></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-yellow">
            <span>Upload Video CV</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('upload-button.svg', class: "img-sm") %></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-purple">
            <span>Record Video CV</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('video-camera-purple.svg', class: "img-sm") %></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="list-group">
    <% @user.cv_array.each do |cv| %>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">CV</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1"><a href="<%= cv %>" target="_blank">view</a></p>
        <!-- <small>Donec id elit non mi porta.</small> -->
      </div>
    <% end %>
  </div>

  <div class="card-deck">
    <% @user.video_array.each do |video| %>
      <div class="card" style="width: 320px;">
        <%= cl_video_tag video, cloud_name: 'thepav', controls: true, :class => "video-container" %>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <button id="delete_video" class="btn btn-primary" value=<%= video %>>Delete</button>
        </div>
      </div>
    <% end  %>
  </div>

</div>

<!-- <li>Contact information: <%#= @user.contact_info %></li> -->
<%= link_to "Add information", edit_user_registration_path(current_user)  %>
<ul style="list-style-type: none;">
<li>First name: <%= @user.first_name %></li>
<li>Last name: <%= @user.last_name %></li>
<li>Contact information: <%= @user.contact_info %></li>
<% @user.cvs.each do |cv| %>
  <% if cv.is_video == true %>
    <%=cl_video_tag cv.file.file.public_id, autoplay: true, height: 600, width: 450, controls: true, muted: true %>
  <% else %>
    <%= cv.title %> <br>
    <%= link_to (cl_image_tag cv.file.file.public_id, {size: '140x200', crop: :thumb, format: :jpg}), "https://res.cloudinary.com/thepav/#{cv.file.file.identifier}", target: 'blank' %>
  <% end  %>
<% end %>
<p>just text to delete later</p>

<%= link_to "Add CV", new_cv_path %>
</ul>

  <!-- <video id="gum" playsinline autoplay></video>
  <video id="recorded" playsinline loop></video>
  <button id="rec" >Record</button>
  <button id="stop" disabled>Stop</button>
  <button id="submit" disabled>Save recording</button>
<<<<<<< HEAD
  <p>Upload your video <input type="file" name="videoupload" multiple></p>
  <button id="save">Save</button>
  <p>Upload your CV <input type="file" name="cvupload" multiple></p>
  <button id="savecv">Save</button>
=======
  Title <input type="text" name ="title">
  <p id="data"></p> -->
<camera data-app-id='a-a3a4b2f0-5a79-0137-da23-02f6e3696dde' id='myCamera' data-stack='mobile'></camera>

<%= javascript_tag do %>
   user_id = '<%= @user.id %>';
   api_key = '<% ENV['api_key'] %>';
   app_secret = '<% ENV['app_secret'] %>';
   dashboard_url = '<%= "//localhost:3000/user/dashboard/#{@user.id}" %>';
<% end %>



