<%= link_to "Add information", edit_user_registration_path(current_user)  %>
<ul style="list-style-type: none;">
<li>First name: <%= @user.first_name %></li>
<li>Last name: <%= @user.last_name %></li>
<li>Contact information: <%= @user.contact_info %></li>
<% @user.cv_array.each do |cv| %>
  <p> CV <a href="<%= cv %>">view</a></p>
<% end  %>

</ul>

 <video id="gum" playsinline autoplay></video>
  <video id="recorded" playsinline loop></video>
  <button id="rec" >Record</button>
  <button id="stop" disabled>Stop</button>
  <button id="submit" disabled>Save recording</button>
  <p>Upload your video <input type="file" name="videoupload" multiple></p>
  <button id="save">Save</button>
  <p>Upload your CV <input type="file" name="cvupload" multiple></p>
  <button id="savecv">Save</button>



<p id="data"></p>
<% @user.video_array.each do |video| %>
  <%= cl_video_tag video, controls: true %>
<% end  %>




<%= javascript_tag do %>
   user_id = '<%= @user.id %>';
   user_url = '<%= "//localhost:3000/users/#{@user.id}/update_video" %>';
   cv_url = '<%= "//localhost:3000/users/#{@user.id}/update_cv" %>';
   api_key = '<% ENV['api_key'] %>';
   dashboard_url = '<%= "//localhost:3000/user/dashboard/#{@user.id}" %>';
<% end %>



