<%= render 'shared/navbar-dashboard' %>

<div class="dashboard-main-container d-flex flex-column">

  <%#= render 'shared/sidebar' %>

<!--   <div class="container">
    <div class="uploader">
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-blue">
            <span>Upload Resume</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('upload-button-blue.svg', class: "img-sm") %></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-yellow">
            <span>Upload Video CV</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('upload-button.svg', class: "img-sm") %></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="btn-uploader d-flex justify-content-center align-items-center bg-purple">
            <span>Record Video CV</span>
            <div class="btn-round d-flex justify-content-center align-items-center"><%= image_tag('video-camera-purple.svg', class: "img-sm") %></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="list-group">
    <% @user.cv_array.each do |cv, index| %>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><a href="<%= cv %>" target="_blank">view</a></h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card w-50">
        <div class="card-body">
          <h5>Upload your video <input type="file" name="videoupload" multiple></h5>
          <button id="save" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card w-50">
        <div class="card-body">
          <h5>Upload your CV <input type="file" name="cvupload" multiple></h5>
          <button id="savecv" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <% @user.video_array.each do |video| %>
      <!-- when passing (video) into delete_video_user_url it alters the route to include the video url -->

      <div class="card">
        <%= cl_video_tag video, cloud_name: 'thepav', controls: true, :class => "video-container" %>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button id="delete_video" value=<%= video %> class="btn btn-danger">Delete</button>
        </div>
      </div>
    <% end  %>
  </div>
</div>


<!-- <li>Contact information: <%#= @user.contact_info %></li> -->

<video id="gum" playsinline autoplay></video>
<video id="recorded" playsinline loop></video>
<button id="rec" class="btn btn-primary">Record</button>
<button id="stop" disabled class="btn btn-warning">Stop</button>
<button id="submit" disabled class="btn btn-success">Save recording</button>

<%= javascript_tag do %>
   user_id = '<%= @user.id %>';
   user_url = '<%= "//localhost:3000/users/#{@user.id}/update_video" %>';
   cv_url = '<%= "//localhost:3000/users/#{@user.id}/update_cv" %>';
   api_key = '<% ENV['api_key'] %>';
   app_secret = '<% ENV['app_secret'] %>';
   dashboard_url = '<%= "//localhost:3000/user/dashboard/#{@user.id}" %>';
<% end %>



